<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Student's Work</h1>
            
            <a class="btn btn-outline-dark btn-lg px-4"  href="#ds">DRAWING & SKETCHING</a>
            <a class="btn btn-outline-dark btn-lg px-4" href="#ds">MIXED MEDIA</a>
            <a class="btn btn-outline-dark btn-lg px-4" href="#ds">WORKSHOPS</a>
        </div>
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary13.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary8.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative mb-5 mb-lg-0">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary7.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary2.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary4.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary6.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative mb-5 mb-lg-0">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary3.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary16.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary9.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary17.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative mb-5 mb-lg-0">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary10.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary18.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary11.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary12.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary15.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary19.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary5.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary14.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary1.jpeg" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
        <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
    </div>
</section>
