<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-8 fw-bolder text-warning mb-2">"Every child is an artist".</h1> 
                    <h1 class="lead fw-normal text-white-50 mb-4">-Picasso</h1>
                    <p class="lead fw-normal text-white-50 mb-4">We believe ever though there are definitely those that are born with artistic skills that help them be natural drawers, there are many others who can learn how to draw by the right methods of teaching & feel free truly, proud of the results.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Register Now for a free Evaluatin Session</a>                        
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="../../../../assets/pic 1.jpeg" alt="..." /></div>
        </div>
    </div>
</header>
