<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Our Programs</h2>
                    
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="../../../../assets/gallary18.jpeg" width="100%" hight="350px" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Drawing & Sketching</h5></a>
                        <p class="card-text mb-0">This program gives your child a solid foundation for drawing still-life and compositions. Your child will be taught the basics of sketching and drawing, proportions theory, shading and the effective use of light and shadow. They will learn all the artistic skills needed to bring to life various compositions from their own imagination. They will also learn to use a wide variety of media: pencils, charcoal and pastels.</p>
                    </div>
                </div>    
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="../../../../assets/mm2.jpeg"  alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Mixed Media</h5></a>
                        <p class="card-text mb-0">This program introduces color pencil, oil & soft pastel, marker,acrylics, water color and lets your child explore and experiment with a wide variety of mediums and techniques. The fundamentals of color principles are introduced: color theory and perception, color contrasts, techniques of mixing colors, and the best way to utilize color in order to enhance your art work.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Workshops</h5></a>
                        <p class="card-text mb-0">Darnicko art studio workshops inspire kids to reach beyond and create art that is unique to them. By doing so, kids feel empowered to be creative and expressive. It’s amazing to see just what kids design when given the freedom to explore and to express themselves creatively! Imaginations soar!</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

