<section class="py" id="reviews" >
    <div class="container  px">
        <div class="row gx">
           <div class="col">
            <div class="row pb-3">
             <app-contactus-widget></app-contactus-widget>
            </div>
            <div *ngFor="let promo of promos; index as i; first as isFirst">
            <div class="row py3 pb-3">
                <app-promotions-widget [content]="promo"></app-promotions-widget>
            </div>
            </div>
           </div>
           <div class="col-9 border border-light">
            <iframe src='https://widgets.sociablekit.com/google-reviews/iframe/110046' frameborder='0' width='100%' height='720'></iframe>
           </div>
        </div>
    </div>
</section>
