
<div class="container " >
    <div class="row p-0 m-0"> 
        <div class="col"></div>
        <div class="col-sm-auto justify-content-center"><img class="gtimage" src="../../../../assets/Gallery_Title.jpg"></div>
        <div class="col"></div>
    </div>

    <div class="row p-0 m-0"> 
        <div class="col"></div>
        <div class="col-sm-3 ">
                <a (click)="itemClicked('one')" ><img class="dsimage"></a>
        </div>
        <div class="col-sm-3 ">
                <a  (click)="itemClicked('two')" ><img class="mmimage"></a>
        </div>
        <div class="col-sm-3">
                <a  (click)="itemClicked('three')" ><img class="wsimage"></a>
        </div>
        <div class="col">
            
        </div>
    </div>
        
    
</div>

        
            
        



    