


<div class="row gx-5  justify-content-center" >
    <div class="col-lg-3">
        <div class="position-relative mb-5">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary13.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative mb-5">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary8.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative mb-5 mb-lg-0">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary7.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary2.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative mb-5">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary4.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative mb-5">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary6.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative mb-5 mb-lg-0">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary3.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary16.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative mb-5">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary9.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative mb-5">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary17.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative mb-5 mb-lg-0">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary10.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary18.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary11.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary12.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary15.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary19.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary5.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary14.jpeg" alt="..." />
        </div>
    </div>
    <div class="col-lg-3">
        <div class="position-relative">
            <img class="img-fluid rounded-3 mb-3" src="../../../../assets/gallary1.jpeg" alt="..." />
        </div>
    </div>
</div>
