<section class="py-5">
    <div class="container px-5">
        <app-blog-main></app-blog-main>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-xl-8">
                <app-news></app-news>
            </div>
            <div class="col-xl-4">
                <app-blog-contact-us></app-blog-contact-us>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder fs-5 mb-4">Featured Stories</h2>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <app-blog-card1></app-blog-card1>
            </div>
            <div class="col-lg-4 mb-5">
                <app-blog-card2></app-blog-card2>
            </div>
            <div class="col-lg-4 mb-5">
                <app-blog-card3></app-blog-card3>
            </div>
            <div class="text-end mb-5 mb-xl-0">
                <a class="text-decoration-none" href="#!">
                    More stories
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>